<ion-header>
  <ion-toolbar>
    <ion-title>brushInfo</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>Oprima el botón para ver video de cepillarse con brackets<br>
    <ion-button (click)="openMyVideo('i6yGKcXy0QQ')">Reproducir el Video</ion-button>
  </p>
  <p>Oprima el botón 2<br>
    <ion-button (click)="playVideo()" expand="full" color="dark">Reproducir el Video</ion-button>
  </p>
</ion-content>