<ion-header>
  <ion-toolbar>
    <ion-title>Información de cepillado</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
<!--     <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          Cepillarse con brackets
        </ion-card-title>
        <ion-card-subtitle>
          Correcto de cepillado (youtube botón)
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="openMyVideo('i6yGKcXy0QQ')">Reproducir el Video</ion-button>
      </ion-card-content>
    </ion-card> -->

<!--     <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          Caries
        </ion-card-title>
        <ion-card-subtitle>
          Este video muestra el proceso correcto de cepillado (youtube)
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="iframe-container">
          <iframe [src]="sanitize(vid)" frameborder="0" allowfullscreen></iframe>
        </div>
      </ion-card-content>
    </ion-card> -->
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-text color="light">
            Ortodoncia 1 (titulo del video)

          </ion-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-text color="light">
          Acá viene la descripción detallada del video o información adicional. (drive)
        </ion-text>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="iframe-container">
          <iframe [src]="sanitize(vid1)" frameborder="0" allowfullscreen></iframe>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          Ortodoncia 2 (titulo del video)
        </ion-card-title>
        <ion-card-subtitle>
          Acá viene la descripción detallada del video o información adicional. (drive)
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="iframe-container">
          <iframe [src]="sanitize(vid2)" frameborder="0" allowfullscreen></iframe>
        </div>
      </ion-card-content>
    </ion-card>


    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          Ortodoncia 3 (titulo del video)
        </ion-card-title>
        <ion-card-subtitle>
          Acá viene la descripción detallada del video o información adicional. (drive)
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="iframe-container">
          <iframe [src]="sanitize(vid3)" frameborder="0" allowfullscreen></iframe>
        </div>
      </ion-card-content>
    </ion-card>

    
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          Ortodoncia 4 (titulo del video)
        </ion-card-title>
        <ion-card-subtitle>
          Acá viene la descripción detallada del video o información adicional. (drive)
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="iframe-container">
          <iframe [src]="sanitize(vid4)" frameborder="0" allowfullscreen></iframe>
        </div>
      </ion-card-content>
    </ion-card>


  </div>

</ion-content>