<ion-app>
    <ion-menu contentId="contentMenu" side="start">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menú</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content >
            <ion-list *ngFor="let page of pages">
                <ion-menu-toggle outo-hide="true">
                    <ion-item [routerLink]="page.url" routerDirection="root"
                        (click)="goToPage(page.url)" >
                        <ion-icon [name]="page.icon" class="imageSize" slot="start">
                        </ion-icon>
                        <ion-text color="light">
                            {{page.pagename}}

                        </ion-text>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="contentMenu" main></ion-router-outlet>
</ion-app>