.active-item {
  border-left: 8px solid var(--ion-color-primary);
}

ion-content {
  --ion-background-color: #917cf8;
  color: white;
}

ion-toolbar {
  --ion-background-color: #23c2f2;
}

.imageSize{
/*   height: 1500%;
  width: 1500%; */
  font-size: 300%;
}

ion-menu {
  --ion-background-color: var(--ion-color-primary);
}

ion-menu-button.md.button.ion-activatable.ion-focusable.hydrated {
  color: white;
}

