<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class=" content-page">

    <input id="check" type="checkbox">

    <label class="main" for="check">

      <div class="title">

        <i class='icon'></i>


      </div>

    </label>


    <div class="container">
      <a class="plate">
        <div fill="clear" (click)="goBrushInfoPage()">
          <i class="fa fa-paint-brush"></i>
        </div>

      </a>
      <a class="plate">
        <div fill="clear" (click)="goInstrumentsInfoPage()">
          <i class="fa fa-briefcase"></i>
        </div>

      </a>
      <a class="plate">
        <div (click)="goChronometersPage()" fill="clear">
          <i class="fa fa-clock-o"></i>
        </div>
      </a>
      <a class="plate">
        <div (click)="goExamPage()" fill="clear"><i class="fa fa-tasks"></i></div>

      </a>
<!--       href="https://wa.me/573105873574?text=Doc. Escribo desde la app orthoclean"
 -->      <a class="plate">
        <div (click)="goContactUsPage()" fill="clear"><i class="fa fa-whatsapp"></i></div>

      </a>
    </div>



    <!--     <div class="navbar">MENU
      <ul class="menu">
        <li><a href="" class="fa fa-facebook"></a></li>
        <li><a href="" class="fa fa-twitter"></a></li>
        <li><a href="" class="fa fa-github"></a></li>
        <li><a href="" class="fa fa-whatsapp"></a></li>
        <li><a href="" class="fa fa-google-plus"></a></li>
      </ul>
    </div> -->

  </div>
</ion-content>