

.icon {
  content: url("../../../assets/custom-ion-icons/md-logo-orthoclean.svg");
  height: 180%;
  width: 200%;

  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 165px;
  height: 165px;
  border-radius: 90%;
}

.iconResource {
  content: url("../../../assets/custom-ion-icons/md-brush-orthoclean.svg");

  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10;
  left: 10;
  border-radius: 90%;

  cursor: pointer;

  //top: -180%; 
  z-index: 10;

}

.iconResource2 {
  content: url("../../../assets/custom-ion-icons/md-instruments-orthoclean.svg");
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10;
  border-radius: 90%;

  cursor: pointer;

  //top: -180%; 
  z-index: 10;
}

.iconResource3 {
  content: url("../../../assets/custom-ion-icons/md-chronometers-orthoclean.svg");
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10;
  border-radius: 90%;

  cursor: pointer;

  //top: -180%; 
  z-index: 10;
}

.iconResource4 {
  content: url("../../../assets/custom-ion-icons/md-exam-orthoclean.svg");
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10;
  border-radius: 90%;

  cursor: pointer;

  //top: -180%; 
  z-index: 10;
}

.iconResource5 {
  content: url("../../../assets/custom-ion-icons/md-contact-orthoclean.svg");
  margin: auto;
  position: absolute;
  top: 10;
  right: 0;
  bottom: 0;
  left: 10;
  border-radius: 90%;

  cursor: pointer;

  //top: -180%; 
  z-index: 10;
}

#check {
  display: none;
}

.main,
.container {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 165px;
  height: 165px;
  border-radius: 90%;
  
}

.main {
  background-color: #917cf8;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  z-index: 50;
}

.main:hover {
  background-color: #917cf8;
}

.main:active {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35), inset 1px 2px 2px rgba(0, 0, 0, 0.35);
  background-color: #917cf8;
}

.main .title {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  font-size: 3em;
  line-height: 80px;
  text-align: center;
  color: #fafafa;
}

.container {
  z-index: 10;
}

.plate {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
  border-radius: 50%;
  //box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.plate i {
  width: 200%;
  font-size: 2em;
  line-height: 53px;
  text-align: center;
  color: #333;
}

.plate:hover i {
  color: #111;
}

.plate:nth-of-type(1) {
  //background-color: rgba(109, 231, 200, 0.3);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.plate:nth-of-type(2) {
  //background-color: rgba(243, 156, 80, 0.1);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.plate:nth-of-type(3) {
  //background-color: rgba(247, 80, 173, 0.1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.plate:nth-of-type(4) {
  //background-color: rgba(80, 128, 136, 0.5);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.plate:nth-of-type(5) {
  //background-color: limegreen;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

#check:checked ~ .main + .container .plate {
  opacity: 1;
}

#check:checked ~ .main + .container .plate:nth-of-type(1) {
  top: -180%;
}

#check:checked ~ .main + .container .plate:nth-of-type(2) {
  top: -130%;
  right: -130%;
}

#check:checked ~ .main + .container .plate:nth-of-type(3) {
  right: -180%;
}

#check:checked ~ .main + .container .plate:nth-of-type(4) {
  right: -130%;
  bottom: -130%;
}

#check:checked ~ .main + .container .plate:nth-of-type(5) {
  bottom: -180%;
}

ion-content {
  // --ion-background-color: #afdbe5;
  --ion-background-color:white;
}

ion-toolbar{
  --ion-background-color:#23c2f2;
}