<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="navbar">
      <ul class="menu">
        <li>
          <a href="" class="fa fa-facebook">
            
          </a>
        </li>
      </ul>
    </div>

  <ion-button (click)="goChronometersPage()" >Cronómetros</ion-button>
  <ion-button (click)="goBrushInfoPage()" >Cepillado</ion-button>
  <ion-button (click)="goInstrumentsInfoPage()" >Instrumentos</ion-button>
  <ion-button (click)="goExamPage()" >Quiz</ion-button>
  <ion-button (click)="goContactUsPage()" >Contactanos</ion-button>

</ion-content>
