<ion-header>
  <ion-toolbar>
    <ion-title>Contactenos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        Correo electrónico
      </ion-card-title>
      <ion-card-subtitle>
        nacastellanosc@unal.edu.co
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        Dirección
      </ion-card-title>
      <ion-card-subtitle>
        Universidad Nacional de Colombia, Carrera 30 # 45.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        Teléfono
      </ion-card-title>
      <ion-card-subtitle>
        3165410290
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        WhatsApp
      </ion-card-title>
      <ion-card-subtitle>

        <a href="https://wa.me/573105873574?text=Doc. Escribo desde la app orthoclean" class="plate">
          <div fill="clear">
            
            <img src="../../../assets/icon/whatsappLogo2png.png" style="width : 20% ; height : 20% ; display: block; margin: 0 auto;">


          </div>
        </a>
      </ion-card-subtitle>
    </ion-card-header>

  </ion-card>

<!-- 
  <a href="https://wa.me/573105873574?text=Doc. Escribo desde la app orthoclean" class="plate">
    <div fill="clear"><i class="fa fa-whatsapp"></i></div>
  </a> -->

</ion-content>