<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text color="light">
        Contactenos
      </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        <ion-text color="light">
          Correo electrónico
        </ion-text>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-text color="light">
          nacastellanosc@unal.edu.co
        </ion-text>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        <ion-text color="light">
          Dirección
        </ion-text>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-text color="light">
        Universidad Nacional de Colombia, Carrera 30 # 45.
      </ion-text>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        <ion-text color="light">
        Teléfono
      </ion-text>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-text color="light">
        3165410290
      </ion-text>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        <ion-text color="light">
        WhatsApp
      </ion-text>
      </ion-card-title>
      <ion-card-subtitle>

        <a href="https://wa.me/573105873574?text=Doc. Escribo desde la app orthoclean" class="plate">
          <div fill="clear">

            <img src="../../../assets/icon/whatsappLogo2png.png"
              style="width : 20% ; height : 20% ; display: block; margin: 0 auto;">


          </div>
        </a>
      </ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <!-- 
  <a href="https://wa.me/573105873574?text=Doc. Escribo desde la app orthoclean" class="plate">
    <div fill="clear"><i class="fa fa-whatsapp"></i></div>
  </a> -->

</ion-content>